################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs

/.vs/StudyApp/v17/.suo
/StudyApp/obj
/StudyApp/bin
